@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&family=Coda+Caption&family=Fredericka+the+Great&family=Great+Vibes&family=Nova+Square&family=Skranji:wght@700&display=swap');

$fonts-h1: 'Skranji', cursive;
$fonts-h2: 'BioRhyme Expanded', serif;
$fonts-h3: 'Fredericka the Great', cursive;
$fonts-p: 'BioRhyme Expanded', serif;
$fonts-great-vibes: 'Great Vibes', cursive;
$fonts-nova-square: 'Nova Square', cursive;
$background-color: #F1ECCE;
$primary: #FDBA35;
$accent-one: #A50104;
$text-dark: #272635;
$text-light: #837A75;
